.modal-overlay-delete {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.modal-overlay-delete .modal-body-delete{
    background-color: white;
    padding: 24px;
    height: 30%;
    width: 45%;
    border-radius: 24px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.modal-overlay-delete .modal-body-delete h2{
    font-size: 32px;
    margin-left: 43px;
}

.modal-overlay-delete .modal-body-delete .input-container{
    width: calc(100% - 24px);
}

.modal-overlay-delete .modal-body-delete input{
    padding: 12px;
    border: 2px solid #c6c5c5c5;
    color: rgba(0,0,0,0.9);
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    width: 182%;

    margin-bottom: 12px;
}

.modal-overlay-delete .modal-body-delete label{
    color: #242424;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-overlay-delete .modal-body-delete .btn-delete{
    position: initial;
    width: 100%;
    margin-top: 32px;
}

.modal-overlay-delete .modal-body-delete .btn-delete:hover{
    background-color: #04c745;
    transform: scale(1);
}